name: Verify Pod Termination
path: verify-pod-termination.rego

level: warning

description: "A rule to verify that all pods have terminated"

evidence:
  signed: false
  format-type: generic
  target_type: data
  predicate_type: http://scribesecurity.com/evidence/discovery/v0.1
  labels:
    - "asset_type=pod"


