name: Verify Namespace Duration
path: verify-namespace-duration.rego

level: warning

description: "A rule to verify that all namespaces are not running over threshold. All violations are running namespaces that were started before the threshold date."

evidence:
  signed: false
  format-type: generic
  target_type: data
  predicate_type: http://scribesecurity.com/evidence/discovery/v0.1
  labels:
    - "asset_type=namespace"

with:
  // Required
  threshold_date: "1970-01-01T00:00:00Z" # ISO 8601 string date format
