name: Trigger Scribe Workflow Dev

on:
  workflow_dispatch:
  push:
    branches:
      - dev

jobs:

# Typically here will come the jobs that build a docker image and push it to DockerHub
  trigger:
    name: Trigger Scribe Workflow
    uses: scribe-public/reusable-workflows/.github/workflows/trigger.yaml@main
    with:
        product: "sample-policies-dev"
        version: "dev-release"
        event_type: "sample-policies-prerelease"
        workflow_github_org: scribe-security
        workflow_github_repo: dogfooding
    secrets: 
        WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}